<footer style="background-color: black; color: white; text-align: center; padding: 20px;">
    <a class="internal-link" href="{{ site.baseurl }}" style="color: white; text-decoration: none; margin: 10px; padding: 10px; background-color: grey; border-radius: 5px;">GENES15</a>
    <a class="internal-link" href="{{ site.baseurl }}/_notes/page_1" style="color: white; text-decoration: none; margin: 10px; padding: 10px; background-color: grey; border-radius: 5px;">© 2023 PRIVACY POLICY</a>
    <a class="internal-link" href="{{ site.baseurl }}/_notes/page_2" style="color: white; text-decoration: none; margin: 10px; padding: 10px; background-color: grey; border-radius: 5px;">SUPPLIERS</a>
</footer>
