<footer style="background-color: black; color: white; text-align: center; padding: 20px;">
    <a class="internal-link" href="{{ site.baseurl }}/" style="color: white; text-decoration: none; font-weight: bold; padding: 10px;">GENES15</a> |
    <a class="internal-link" href="{{ site.baseurl }}/_notes/PRIVACYPOLICY" style="color: white; text-decoration: none; font-weight: bold; padding: 10px;">© 2023 PRIVACY POLICY</a> |
    <a class="internal-link" href="{{ site.baseurl }}/_notes/SUPPLIERS" style="color: white; text-decoration: none; font-weight: bold; padding: 10px;">SUPPLIERS</a>
</footer>
