<nav style="background-color: white;">
    <a href="{{ site.baseurl }}/">
        <img src="/assets/image_logo.png" alt="Genes15" style="height: 50px; vertical-align: left;">
    </a>
    <ul>
        <!-- 메뉴 항목들 -->
        <li><a href="#">About Us</a>
            <div class="sub-menu">
                <a href="{{ site.baseurl }}/Team">Team</a>
                <a href="{{ site.baseurl }}/Mission">Mission</a>
                <a href="{{ site.baseurl }}/Careers">Careers</a>
            </div>
        </li>
        <li><a href="#">Services</a>
            <div class="sub-menu">
                <a href="{{ site.baseurl }}/Android">Android</a>
                <a href="{{ site.baseurl }}/IOS">IOS</a>
                <a href="{{ site.baseurl }}/VR&AR">VR & AR</a>
            </div>
        </li>
        <li><a href="#">Contact</a>
        </li>
    </ul>
</nav>
