<nav style="background-color: black;">
    <a href="{{ site.baseurl }}/">
        <img src="/assets/image_logo_bg_rm.png" alt="Genes15" style="height: 50px; vertical-align: middle;">
    </a>
    <ul>
        <li><a href="#">Home</a>
            <div class="sub-menu">
                <a href="https://genes15.netlify.app/_pages/culture">Culture</a>
                <a href="https://genes15.netlify.app/_pages/history">History</a>
                <a href="https://genes15.netlify.app/_pages/Hobby">Hobby</a>
            </div>
        </li>
        <!-- 추가 메뉴 항목들... -->
    </ul>
</nav>
